body{
	font-family: 'Courier New', monospace;
	font-size: 15px;
	margin: 0 auto;
	background-image: url("drewcoffman.jpg");
	background-repeat: no-repeat;
	background-size: 100% 1080px;

}

img{
	margin: auto;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border-radius: 90px;
}

.container{
	color:#1E1903;
	width: 500px;
	height: 450px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(255, 223, 186, 0.8);
	margin-top: 50px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 10px;
	
}

h1{
	border-radius: 100px;
}

input[type="text"],input[type="password"]{
	font-family:Garamond, serif;
	margin-top: 30px;
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	color: #010000;
	background-color: #fff;
	padding-left: 40px;
	border-radius: 10px;
	}


.btn-login{
	padding: 15px 25px;
	border: none;
	padding:16px 32px;
	background-color: #654646;
	color: #fff;
	cursor: pointer;
	transition:transform 0.3s, box-shadow 0.3s;
	box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.75);
	border-radius: 100px;
	font-family:Garamond, serif;
}

.btn-login:hover{
	background-color:#654646;
	color:#fff;
	transform: scale(1.1);
	transition:0.3s;
	box-shadow: 5px 7px 5px -5px rgba(0,0,0,0.75);
	border-radius: 100px;
	font-family:Garamond, serif;
}

